.nav {
    @apply z-50 sticky top-0 flex items-center justify-center text-center h-[80px];
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);

}

.button {
    @apply m-auto w-[200px] relative inline-block text-[#03e9f4] text-[16px] overflow-hidden uppercase;
    padding: 10px 20px;
    background-color: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    text-decoration: none;
    transition: .5s;
    letter-spacing: 4px
}

.button:hover {
    @apply bg-[#03e9f4] text-[#fff] rounded-md;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
}


.button:focus{
  outline: none;
}