.text {
  @apply text-right text-3xl tracking-[20px] uppercase
    animate-pulse;
  background: -webkit-linear-gradient(rgb(31, 42, 145), rgb(51, 132, 84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text2 {
  @apply text-3xl tracking-[20px] uppercase
    animate-pulse;
  background: -webkit-linear-gradient(rgb(31, 42, 145), rgb(51, 132, 84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text3 {
  @apply text-right text-3xl tracking-[20px] uppercase w-full
    animate-pulse;
  background: -webkit-linear-gradient(rgb(31, 42, 145), rgb(51, 132, 84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text4 {
  @apply text-left text-3xl tracking-[20px] uppercase w-full
    animate-pulse;
  background: -webkit-linear-gradient(rgb(31, 42, 145), rgb(51, 132, 84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



.boxed {
    @apply mt-10 justify-center   ;
	position: relative;
    margin-left: 20%;
	width: 60%;
	background: linear-gradient(0deg, #000, #272727);
    /* background-color: #c4c4c4; */
  
}

.boxed:before, .boxed:after {
	content: '';
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	z-index: -1;
	animation: steam 20s linear infinite;
}

@keyframes steam {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.boxed:after {
	filter: blur(25px);
}
.content{
    @apply  justify-center items-center flex text-xl p-5 opacity-80;
    letter-spacing: 4px;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 
    0.25px 0.3px 0.25px #919191,
    0.25px 0.45px 0.25px #919191,
    0.25px 0.7px 0.25px #919191,
    0.25px 0.75px 0.25px #919191,
    0.25px 0.90px 0.25px #919191,
    0.25px 0.95px 0.25px #919191,
    0.25px 1.1px 0.25px #919191,
    0.25px 1.25px 0.25px #919191,
    0.25px 1.4px 0.25px #919191,
    0.25px 1.55px 0.25px #919191,
    0.25px 2.5px 0.5px rgba(16,16, 16, 0.4),
    0.25px 3.5px 0.8px rgba(16,16, 16, 0.2), 
    0.25px 4px 2.4px rgba(16,16, 16, 0.2),
    0.25px 5.5px 3.2px rgba(16,16, 16, 0.4);
    transition: 0.8s all;
}